@import 'styleDefault.css';

.header nav{
  display : flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: var(--my-color-bleuDaher2);
}
.header #logo{
  letter-spacing: 5px;
  width: 10%;
  text-align: center;
}
.header .nav-links{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: left;
  margin: 0;
  padding: 0;
  width: 90%;
}

.header .nav-links li:hover{
  background-color: var(--my-color-rougeDaher);
}
.header .nav-links li:hover .dropdown-content{
  display: flex;
}
.header .nav-links li{
  padding: 16px 8px;
  width: 110px;
  text-align: center;
}
.header .justify-right{
  margin-left: auto;
}

.header .nav-links a{
  text-decoration: none;
  color: white;
  text-align: center;
}
.header .dropdown-content {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 10%;
  top: 50px;
  width: 110px;
  padding: 16px 8px;
  background-color: rgb(255, 255, 255);
  transition: all .5s ease;

}
.header .dropdown-content a{
  color: rgb(0, 13, 36);
  padding: 12px 16px;
  text-decoration: none;
}
.header .dropdown-content a:hover{
  color: var(--my-color-rougeDaher);
  font-weight: bold;
}
.header .burger{
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.header .burger div{
  width: 25px;
  height: 4px;
  margin: 3px;
  background-color: white;
  transition: all 0.3s ease;
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .header .burger{
    display: flex;
  }
  .header .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: var(--my-color-bleuDaher2);
  }
  .header .nav-links li{
    opacity: 0;
    background-color: var(--my-color-bleuDaher2);
  }
  .header .nav-links a:hover{
    color: var(--my-color-rougeDaher);
  }
}
.header .nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.header .toggle #line1{
  transform: rotate(-45deg) translate(-7.5px,6px);
}
.header .toggle #line2{
  opacity: 0;
}
.header .toggle #line3{
  transform: rotate(45deg) translate(-7.5px,-6px);
}


/* .header nav ul {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    border-bottom: solid 1px var(--my-color-rougeDaher);
    display: flex;
    flex-direction: row;
}

.header li{
  padding: 14px 16px;
  transform-origin: 0 0;
  transition-duration: 0.8s;
  transition-property: background;
  transition-timing-function: ease;
}
.header li:hover{
  background-color: var(--my-color-rougeDaher);
  transform-origin: 0 0;
  transition-duration: 0.8s;
  animation-name: example;
animation-duration: 1s; 
}

.menu-dropdown>a:hover .dropdown-content{
  display: flex;
}
@keyframes example {
  from {background-color: var(--my-color-bleuDaher2);}
  to {background-color: var(--my-color-rougeDaher);}
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: var(--my-color-rougeDaher);
}
  
.dropdown-content a{
  color: rgb(0, 13, 36);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
} */
