@font-face {
	font-family: "Raleway";
    src: url('../src/font/Raleway-Regular.ttf');
}

:root {
  --my-color-bleuDaher: rgb(0,50,95);
  --my-color-bleuDaher2 : rgb(0,13,36);
  --my-color-rougeDaher: rgb(230,0,50);
  --my-color-whiteFont : rgb(255,255,255);
  --my-color-green : rgb(19, 170, 65);

  --my-font-daher : 'Raleway';

  --my-bg-image : url("../src/img/fond.jpg");
}
body{
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family : var(--my-font-daher);
  font-size : 15px;
  color : black;
  overflow: auto;
}
#logoDaher{
    position: relative;
    float: left;
}
#titre{
    text-align: center;
    clear: both;
    font-size: 30px;
    text-transform : uppercase;
}
#moldingInfo{
    margin: 20px;
    font-size: 20px;
}
#tableauRecap2{
    border-spacing: 10px 5px;
    text-align : center;
    margin : 0px;
}

#tableauRecap2 th{
    font-size: 15px;
}
#tableauRecap2 tbody td{
    font-size: 10px;
}
tfoot > * {
    border-spacing: 10px;
    font-size: 20px;
}
#tableauRecap2 tf td{
    font-size: 20px;
}
.cellInvisible{
    display: none;
}
th:first-child, td:first-child {
    padding: 0px;
    width: 60px;
  }
  th:nth-child(3), td:nth-child(3) {
    padding: 0px;
    width: 80px;
  }
  th, td {
    padding: 0px;
    width: 250px;
  }