@font-face {
	font-family: "Raleway";
    src: url('../src/font/Raleway-Regular.ttf');
}

:root {
  --my-color-bleuDaher: rgb(0,50,95);
  --my-color-bleuDaher2 : rgb(0,13,36);
  --my-color-rougeDaher: rgb(230,0,50);
  --my-color-whiteFont : rgb(255,255,255);
  --my-color-green : rgb(19, 170, 65);

  --my-font-daher : 'Raleway';

  --my-bg-image : url("../src/img/fond.jpg");
}
body{
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway';
  font-size : 15px;
  color : white;
  background-image: var(--my-bg-image);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}
.perso-body {
  display:flex;
  flex-direction: column;
  justify-content: stretch;
}
.header{
  width: 100%;
 }
.content{
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  overflow:auto;
}
.sideBar-left{
  order: -1;
  height: 100%;
  min-width: 155px;
  max-width: 250px;
  background: rgba(0,13,36,0.5);
}
.sideBar-right{
  order: 2;
  height: 100%;
  min-width: 150px;
  max-width: 200px;
  background: rgba(0,13,36,0.5);
}
.sideBar-content{
  font-size: 12px;
  margin : 10px;
}
.sideBar-title{
  margin: 0px;
}
.sideBar-item{
  padding: 10px 0px;
  text-indent: 20px;
}
.sideBar-item.menu{
  border-bottom: medium solid var(--my-color-whiteFont);
}
.menu:hover{
  background: var(--my-color-rougeDaher);
}
.molding{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.title{
  font-size : 30px;
  text-align: center;
}
.title2{
  text-decoration: underline;
}
.kitTable{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align : center;
  backdrop-filter: brightness(60%);
}
.rowKit{
  height: 30px;
}
.rowKit:hover{
  font-weight: bolder;
  background: var(--my-color-bleuDaher2) ;
}
.bouton{
  border: 0px solid black;
  border-radius: 10px;
}
#divManu{
  flex-direction: row;
  flex-wrap: wrap;
}

#titreInfoMoulage{
  text-decoration: underline;
  font-size: 20px;
}
.welcome{
display: flex;
flex-direction: column;
align-items: center;
}

.cellInvisible{
  opacity: 0;
}
tfoot *{
  height: 30px;
  font-weight: bold;
  background: rgba(255,255,255,0.5);
  color: var(--my-color-bleuDaher2);
}
.redhover:hover{
  background: var(--my-color-rougeDaher);
}
th, td {
  padding: 0px;
  width: 80px;
}
.bouton-on{
  background: var(--my-color-green);
}
.bouton-off{
  background: var(--my-color-rougeDaher);
}
.quick-msg{
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  font-size: 100px;
  margin: 0 auto;
  width: 100px; 
}
.apparait {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.disparait {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3s, opacity 3s linear;
}
#articleSap{
  width: 70px;
}
#workOrder{
  width: 80px;
}
#desArticle{
  width: 100px;
}
.lblInput{
  margin: 3px;
}
#pickerDate18,#pickerDateDra,#pickerDatePol{
  width: 200px;
}