@font-face {
	font-family: "Raleway";
    src: url('../src/font/Raleway-Regular.ttf');
}

:root {
  --my-color-bleuDaher: rgb(0,50,95);
  --my-color-bleuDaher2 : rgb(0,13,36);
  --my-color-rougeDaher: rgb(230,0,50);
  --my-color-whiteFont : rgb(255,255,255);

  --my-font-daher : 'Raleway';

  --my-bg-image : url("../src/img/fond.jpg");
}
.title{
  font-size : 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.title2{
  text-decoration: underline;
}
.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: baseline;
  justify-content: start;
  overflow:auto;
  padding: 15px;
  color: rgb(255, 255, 255);
}
body {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0px;
  padding: 0px;
  font-family : var(--my-font-daher);
  font-size : 15px;
  color : white;
  background-image: var(--my-bg-image);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: visible;
  height:auto;
}
#titreInfoMoulage{
  text-decoration: underline;
  font-size: 20px;
}
.menu{
  width: 100%;
}
.pageContent{
  display: flex;
  justify-content: start;
  height: 100vh;
}
.welcome{
display: flex;
flex-direction: column;
align-items: center;
}
.sideBar{
  height: 100%;
  min-width: 280px;
  font-size: 15px;
  padding: 5px;
  background: rgba(0,13,36,0.5);
}
.cellInvisible{
  display: none;
}
.kitTable{
  display: flex;
  flex-direction: column;
  text-align : center;
  backdrop-filter: brightness(60%);
}
.kitTable > tfoot{
  margin-top: 30px;
}
#content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
}
tfoot td{
  height: 150px;
  font-weight: bold;
  color: cyan;
}